*{
    box-sizing: border-box;
}

body {
    position: relative;
    background-color: rgb(240, 240, 240);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.grid-container {
    display: grid;    
    grid-template-columns: repeat(3, minmax(290px, max-content));
    grid-template-rows: repeat(4, 130px);
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    border: 1px solid rgb(149, 149, 163);
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    background-color: #fff;
    transition-duration: .3s;
}

.card:hover {
    box-shadow: 0px 0px 30px rgb(175, 175, 175);
    scale: 1.02;
    transition-duration: .5s;
}

.avatar {
    border-radius: 50%;
    margin: 10px;
    height: 85px;
}

p {
    color:rgb(107, 107, 107);
}

h1 {
    text-transform: uppercase;
    color: rgb(105, 105, 105);
    font-weight: 500;
    font-size: 1em;
    margin-left: 5%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.text-container {
    font-size: .75em;
}

.modal-close {
    border: none;
    background: none;
}

.modal-close:hover {
    color: red;
}